.login-wrap {
    height: 536px;
    color: white;
}

.label_login {
    padding-bottom: 5px;
    border-bottom: 5px solid blue;
    font-weight: bold;
}

.or {
    font-family: 'sans-serif';
    font-weight: bold !important;
    margin: .5em 0!important;
}

.my-facebook-button-class {
    background-color: #3b5998 !important;
    color: white;
    padding: 5px 10px;
    margin-top: 10px;
    font-size: 17px;
    width: 300px;
    font-weight: bold !important;
}

.btn-login {
    font-weight: bold !important;
}

.fa-facebook {
    padding-right: 10px !important;
    font-size: 20px !important;
}